

<form id="myform" action="#" class="w-50">
    <div class="form-group">
        <label for="name">نام : </label>
        <input type="text" name="name" class="form-control" id="name">
    </div>
    <div class="form-group">
        <label for="family">فامیلی : </label>
        <input type="text" name="family" class="form-control" id="family">
    </div>
    <div class="form-group">
        <label for="file">تصویر کاربر : </label>
        <input type="file" name="file" class="form-control" id="file">
    </div>
    <button type="submit" class="btn btn-danger">ارسال</button>
</form>

<script>

    document.getElementById('myform').addEventListener('submit' , function(event) {
        event.preventDefault();
        let name = document.querySelector('input[name="name"]'),
            family = document.querySelector('input[name="family"]'),
            file = document.querySelector('input[name="file"]');

        if(name.value == '' && family.value == '') return;

        let formData = new FormData();
        formData.append('name' , name.value);
        formData.append('family' , family.value);
        formData.append('photo' , file.files[0] );

        fetch('/ajaxupload' , {
            method : 'POST',
            body : formData
        }).then(res => {
            return res.json()
        }).then(res => {
            console.log(res);
        }).catch(err => {
            console.log(err);
        }) 
    })

</script>