.DS_Store
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*
node_modules/
bower_componets
dist/
.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/unit/coverage
.DS_Store
public/img/*


# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
