@font-face {
  font-family: 'IranSans';
  src: url('../fonts/IRANSansWeb(FaNum).eot');
  src: url('../fonts/IRANSansWeb(FaNum).eot') format('embedded-opentype'),
    url('../fonts/IRANSansWeb(FaNum).woff2') format('woff2'),
    url('../fonts/IRANSansWeb(FaNum).woff') format('woff'),
    url('../fonts/IRANSansWeb(FaNum).ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IranSansBold';
  src: url('../fonts/IranSansBold/IranSansBold.eot');
  src: url('../fonts/IranSansBold/IranSansBold.eot') format('embedded-opentype'),
    url('../fonts/IranSansBold/IranSansBold.woff2') format('woff2'),
    url('../fonts/IranSansBold/IranSansBold.woff') format('woff'),
    url('../fonts/IranSansBold/IranSansBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'IranSansDN';
  src: url('../fonts/IranSansDN/IranSansDN.eot');
  src: url('../fonts/IranSansDN/IranSansDN.eot') format('embedded-opentype'),
    url('../fonts/IranSansDN/IranSansDN.woff2') format('woff2'),
    url('../fonts/IranSansDN/IranSansDN.woff') format('woff'),
    url('../fonts/IranSansDN/IranSansDN.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IranSansDNBold';
  src: url('../fonts/IranSansDN/IranSansDNBold.eot');
  src: url('../fonts/IranSansDN/IranSansDNBold.eot') format('embedded-opentype'),
    url('../fonts/IranSansDN/IranSansDNBold.woff2') format('woff2'),
    url('../fonts/IranSansDN/IranSansDNBold.woff') format('woff'),
    url('../fonts/IranSansDN/IranSansDNBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/*------------------------
	base class definition
-------------------------*/

/* .tim-icons {
  display: inline-block;
  font: normal normal normal 1em/1 'Nucleo';
  vertical-align: middle;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

.plyr .plyr__controls .plyr__controls__item.plyr__progress__container {
  display: flex;
  flex: auto;
}

.white-content .el-table table > thead > tr > th {
  font-family: IranSans !important;
}

.el-table th > .cell {
  font-family: IranSansBold !important;
}

@media (max-width: 680px) {
  .white-content .el-table table > thead > tr > th {
    font-size: 10px;
    font-family: IranSansBold !important;
  }
}

::selection {
  background-color: #0ad688;
  color: rgb(255, 255, 255);
}

.el-carousel__container {
  height: 490px !important;
}

.el-carousel__item--card {
  width: 70% !important;
}

.el-carousel__arrow {
  background-color: rgba(31, 45, 61, 0.5) !important;
  height: 46px !important;
  width: 46px !important;
}

.el-carousel__arrow:hover {
  background-color: rgba(31, 45, 61, 0.6) !important;
}

.el-carousel__item--card.is-active {
  z-index: 2;
  transform: translateX(55px) scale(1) !important;
}

.swal-title {
  font-family: IranSansBold !important;
}

.swal-button {
  font-family: IranSansDN !important;
}

.swal-text {
  text-align: center !important;
}

.has-success.form-group .form-control,
.has-danger.form-group .form-control {
  direction: ltr !important;
}
