@font-face {
  font-family: 'IranSans';
  src: url('../fonts/IRANSansWeb(FaNum).eot');
  src: url('../fonts/IRANSansWeb(FaNum).eot') format('embedded-opentype'),
    url('../fonts/IRANSansWeb(FaNum).woff') format('woff'),
    url('../fonts/IRANSansWeb(FaNum).ttf') format('truetype');
  font-weight: normal !important;
  font-style: normal !important;
}

@font-face {
  font-family: 'IranSansBold';
  src: url('../fonts/IranSansBold/IranSansBold.eot');
  src: url('../fonts/IranSansBold/IranSansBold.eot') format('embedded-opentype'),
    url('../fonts/IranSansBold/IranSansBold.woff') format('woff'),
    url('../fonts/IranSansBold/IranSansBold.ttf') format('truetype');
  font-weight: bold !important;
  font-style: normal !important;
}

@font-face {
  font-family: 'IranSansBlog';
  src: url('../fonts/IranSansBlog/IRANSansWeb.eot');
  src: url('../fonts/IranSansBlog/IRANSansWeb.eot') format('embedded-opentype'),
    url('../fonts/IranSansBlog/IRANSansWeb.woff') format('woff'),
    url('../fonts/IranSansBlog/IRANSansWeb.ttf') format('truetype');
  font-weight: normal !important;
  font-style: normal !important;
}

* {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-rendering: optimizeLegibility !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.swal-title,
.swal-button {
  font-weight: normal !important;
  letter-spacing: -0.03em !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-rendering: optimizeLegibility !important;
}

.swal-title {
  color: black;
}

/*------------------------
	base class definition
-------------------------*/

input {
  font-family: IranSansBlog !important;
}

.white-content .form-control {
  font-size: 1em !important;
}

.white-content .el-table table > thead > tr > th {
  font-family: IranSans !important;
  font-weight: normal !important;
}

.white-content .el-table table > tbody > tr > td {
  border-color: rgba(0, 0, 0, 0.062) !important;
  font-family: IranSans !important;
}

.el-table th > .cell {
  font-family: IranSansBold !important;
  color: rgb(49, 49, 49) !important;
  font-size: 1.1em !important;
}

.white-content .el-table table > tbody > tr > td {
  font-size: 1em !important;
  text-align: center !important;
  font-family: IranSansBlog !important;
  color: rgb(51, 51, 51) !important;
}

.white-content .el-table table > thead > tr > th {
  text-align: center !important;
  font-family: IranSansBlog !important;
}


@media (max-width: 678px) {
  .white-content .el-table table > thead > tr > th {
    font-size: 0.7em !important;
  }

  .white-content .el-table table > tbody > tr > td {
    font-size: 0.7em !important;
    font-weight: normal !important;
  }

  .el-table th > .cell {
    font-size: 0.77em !important;
  }

  .dropdown-menu:before {
    right: 85px !important;
  }

  .dropdown.show .dropdown-menu {
    margin-right: 72px;
  }
}

.modal-content .modal-header button {
  left: 27px !important;
}

::selection {
  background-color: #04d182 !important;
  color: rgb(255, 255, 255) !important;
}

.el-carousel__container {
  height: 490px !important;
}

.el-carousel__item--card {
  width: 70% !important;
}

.el-carousel__arrow {
  background-color: rgba(31, 45, 61, 0.5) !important;
  height: 46px !important;
  width: 46px !important;
}

.el-carousel__arrow:hover {
  background-color: rgba(31, 45, 61, 0.6) !important;
}

.el-carousel__item--card.is-active {
  z-index: 2;
  transform: translateX(55px) scale(1) !important;
}

.swal-title {
  font-family: IranSansBold !important;
}

.swal-button {
  font-family: IranSans !important;
}

.swal-text {
  text-align: center !important;
}

.has-success.form-group .form-control,
.has-danger.form-group .form-control {
  direction: ltr !important;
}

.btn {
  font-weight: normal !important;
}

.dropdown-menu.dropdown-navbar:before {
  right: 45px !important;
}

.dropdown-menu:before {
  left: auto !important;
  right: 80px !important;
}

.dropdown.show .dropdown-menu,
.navbar .dropdown.show .dropdown-menu {
  margin-top: 9px !important;
  border-radius: 10px !important;
}
