@font-face {
  font-family: 'IranSans';
  src: url('../fonts/IRANSansWeb(FaNum).eot');
  src: url('../fonts/IRANSansWeb(FaNum).eot') format('embedded-opentype'),
    url('../fonts/IRANSansWeb(FaNum).woff') format('woff'),
    url('../fonts/IRANSansWeb(FaNum).ttf') format('truetype');
  font-weight: normal !important;
  font-style: normal !important;
}

@font-face {
  font-family: 'IranSansBold';
  src: url('../fonts/IranSansBold/IranSansBold.eot');
  src: url('../fonts/IranSansBold/IranSansBold.eot') format('embedded-opentype'),
    url('../fonts/IranSansBold/IranSansBold.woff') format('woff'),
    url('../fonts/IranSansBold/IranSansBold.ttf') format('truetype');
  font-weight: bold !important;
  font-style: normal !important;
}

@font-face {
  font-family: 'IranSansBlog';
  src: url('../fonts/IranSansBlog/IRANSansWeb.eot');
  src: url('../fonts/IranSansBlog/IRANSansWeb.eot') format('embedded-opentype'),
    url('../fonts/IranSansBlog/IRANSansWeb.woff') format('woff'),
    url('../fonts/IranSansBlog/IRANSansWeb.ttf') format('truetype');
  font-weight: normal !important;
  font-style: normal !important;
}

* {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-rendering: optimizeLegibility !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
span,
button,
.swal-title,
.swal-button {
  font-weight: normal !important;
  letter-spacing: -0.03em !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-rendering: optimizeLegibility !important;
}

a,
p,
li,
span,
button,
.btn,
tr,
label,
.swal-text,
.swal-button {
  font-family: IranSans !important;
}

th {
  font-family: IranSansBold !important;
}

td {
  border: 1px solid rgb(150, 150, 150) !important;
  padding: 5px !important;
  text-align: right !important;
}

table .btn {
  background: transparent !important;
  border: transparent !important;
  font-size: 1em !important;
}

.swal-title {
  color: black !important;
  direction: ltr !important;
}

/*------------------------
	base class definition
-------------------------*/

.card {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.04), 0 10px 10px rgba(0, 0, 0, 0.04) !important;
}

.page-link {
  margin: 0 3px !important;
  border-radius: 50% !important;
  width: 35px !important;
  font-size: 0.75em !important;
  color: #ef476f !important;
  /* background-color: #ef476f !important; */
}

.page-link:hover {
  cursor: pointer !important;
}

.page-item.active .page-link {
  border-radius: 50% !important;
  border: 1px solid #ef476f !important;
  background-color: #ef476f !important;
  color: #fff !important;
  width: 35px !important;
}

.custom-file-label {
  cursor: pointer !important;
}

.navbar-light .navbar-nav .dropdown .nav-link {
  color: rgb(27, 27, 27) !important;
}

.dropdown-menu.dropdown-navbar:before {
  right: 45px !important;
}

.dropdown-menu:before {
  left: auto !important;
  right: 80px !important;
}

.dropdown.show .dropdown-menu,
.navbar .dropdown.show .dropdown-menu {
  padding-bottom: 0 !important;
  border: 1px solid rgb(241, 241, 241) !important;
  margin-top: 9px !important;
  border-radius: 10px !important;
  /* margin-left: 5em !important; */
}

.dropdown-toggle::after {
  vertical-align: 0em !important;
  margin-right: 9px !important;
}

.dropdown-item {
  text-align: right !important;
  font-size: 0.9em !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.dropdown-item:hover,
.dropdown-item:hover i {
  background-color: transparent !important;
  color: #ef476f !important;
}

.dropdown-item.active,
.dropdown-item.active i {
  color: #ef476f !important;
  background: transparent !important;
}

input {
  font-family: IranSansBlog !important;
}

.form-control {
  color: #252525 !important;
  direction: ltr !important;
}

.el-select-dropdown__item {
  background: #fff !important;
  color: blue !important;
  padding: 8px 10px !important;
  font-size: 1em !important;
  font-family: IranSansBold !important;
  text-align: right !important;
  text-decoration: none !important;
  border-bottom: 1px solid grey !important;
  border-left: 1px solid grey !important;
  border-right: 1px solid grey !important;
}

::placeholder {
  color: rgb(194, 194, 194) !important;
  font-size: 0.85em !important;
  direction: rtl !important;
}

label {
  float: right !important;
}

table > thead > tr > th {
  font-family: IranSans !important;
  font-weight: normal !important;
}

table > tbody > tr > td {
  border-color: rgba(0, 0, 0, 0.062) !important;
  font-family: IranSans !important;
}

th {
  font-size: 1em !important;
  text-align: center !important;
  font-family: IranSansBlog !important;
}

td {
  font-size: 0.95em !important;
  text-align: center !important;
  font-family: IranSansBlog !important;
  color: rgb(51, 51, 51) !important;
}

.table-hover tbody tr:hover {
  background-color: rgba(255, 0, 200, 0.075) !important;
}

@media (max-width: 678px) {
  th {
    font-size: 0.7em !important;
  }

  td {
    font-size: 0.7em !important;
    font-weight: normal !important;
  }

  th > .cell {
    font-size: 0.77em !important;
  }

  .dropdown-menu:before {
    right: 85px !important;
  }

  .dropdown.show .dropdown-menu {
    margin-right: 72px;
  }
}

.modal-content .modal-header button {
  left: 27px !important;
}

::selection {
  background-color: #ef476f !important;
  color: rgb(255, 255, 255) !important;
}

.el-carousel__container {
  height: 490px !important;
}

.el-carousel__item--card {
  width: 70% !important;
}

.el-carousel__arrow {
  background-color: rgba(31, 45, 61, 0.5) !important;
  height: 46px !important;
  width: 46px !important;
}

.el-carousel__arrow:hover {
  background-color: rgba(31, 45, 61, 0.6) !important;
}

.el-carousel__item--card.is-active {
  z-index: 2;
  transform: translateX(55px) scale(1) !important;
}

.swal-title {
  font-family: IranSansBold !important;
}

.swal-button {
  font-family: IranSans !important;
}

.swal-text {
  text-align: center !important;
}

.has-success.form-group .form-control,
.has-danger.form-group .form-control {
  direction: ltr !important;
}

.btn {
  font-weight: normal !important;
}
